.details{
    min-height: 100vh;
    width: 100%;
    padding: 100px 50px;
    margin: auto;
    display: flex;
    @include flex(column, space-evenly, center);
    color: black;
    .details-header{
        text-align: center;
    }
    .game-modes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(480px, 1fr);
        gap: 1rem;
        .box{
            background: rgba(196, 196, 196, 0.05);
            border-bottom: 2px solid red;
            margin: 10px 0;
            display: flex;
            @include flex(column, space-evenly,center);
            img{
                width: 284px;
                height: 170px;
                object-fit: cover;
            }
            button{
                border: none;
                background: white;
                color: $highlight-color;
                align-self:flex-start;
            }
        }
    }
}