$header1: 4rem;
$header2: 3rem;
$header3: 2.6rem;
$header4: 2.2rem;
$text: 1.8rem;

$radial-gradient: radial-gradient(40.14% 40.14% at 50% 50%, #DF1F2D 0%, #B11313 100%, #B11313 100%);
$main-color: white;
$highlight-color: red;

@mixin flex($direction, $justify, $align){
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.button-action{
    margin: 5rem 0 0 0;
    color: black;
    background: $main-color;
    border: 2px solid $main-color;
    padding: 10px 20px;
}

.button-action:hover{
    margin: 5rem 0 0 0;
    color: white;
    background: black;
    border: 2px solid black;
}

@import 'global';
@import 'landing-page';
@import 'details';
@import 'games';